body{
    margin: 0;
    background-color: rgb(212, 253, 239);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    border-bottom: 1px solid black;
}

.home {
    font-weight: bold;
    font-size: clamp(15px, 4vw, 25px);
}
nav a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 1px;
    background-color: black;
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: translateX(-50%) scaleX(1)
}
footer{
    margin-top: 60px;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid black;
}
.footer-container {
    font-size: clamp(12px, 2vw, 16px);
    color: black;
    max-width: 800px;
    margin: 0 auto;
}
.footer-container a {
    list-style: none;
    margin: 12px 0;
    padding: 0;
}
.footer-container a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dashed black;
}
.footer-container a:hover {
    color: dodgerblue;
    border-bottom: 1px solid dodgerblue;
}
main{
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-size: clamp(14px, 2.5vw, 18px);
    line-height: 1.6;
}
main p {
    font-size: clamp(14px, 2.5vw, 18px);
}
.hamburger {
    display: none;
    font-size: clamp(20px, 5vw, 30px);
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 140px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
        gap: 12px;
        border-top: 1px solid black;
        z-index: 11px;
        background-color: rgb(176, 252, 226);
    }

    nav.show{
        display: flex;
    }
}